/* Navbar */
.navbar-nav .navbar-link {
    font-weight: 500;
    padding: 10px 15px;
    color: #333;
    transition: 0.03s;
    text-decoration: none;
}

.navbar-nav .nav-link:hover, 
.navbar-nav .nav-link.active {
    color: #007bff;
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 5px;
}
.btn-book {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.btn-book:hover {
    background-color: #0056b3;
}

/* Hero Section */
.hero-section {
    height: 90vh;
    background: url(./Assets/hero.jpg) center/cover no-repeat;
    position:relative;
}
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text contrast */
}
.hero-section .container {
    position: relative;
    z-index: 1;
}

/* Featured Destinations Section */
.card {
    height: 600px;
}
.card img {
    height: 400px;
}
